.masVisto {
    margin-top: 50px;

}

.masVisto h1 {
    font-size: 60px;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .masVisto h1 {
        font-size: 35px;
        margin: 0;
    }
    
    .masVisto .coverImage img {
        width: 100vw;
        height: 70vh !important;
    }
    .masVisto .content {
        flex-direction: column;
        padding: 50px;
    }
    .masVisto .row {
        width: 100%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .palyButton button {
        padding: 0;
        margin: 0;
        background: none;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #f4f0a6;
      }
  }